*{
    padding:0px;
    margin:0px;
}
body{
    background-color: #738fba;
}
.container{
    display:flex;
    width: 80%;
    margin: 15px auto;
    flex-direction: column;
    background-color: white;
    height: 95vh;
    border:#4188fa solid 1px;
}
/*Header*/
header{
    font-size: 225%;
    padding:15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
/*Nav*/
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    background-color: cadetblue;
    border: cadetblue solid 10px;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: space-between;
}
nav li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding:10px;
    margin-right: 10px;
    margin-left:10px;
}
nav li a:hover{
    color:black;
    text-decoration: underline;
}
nav .hrnav{
    background-color: white;
    color: white;
    height: auto;
    overflow: hidden;
    width: 1px;
}
/*Main*/
/*Arriba*/
.arriba{
    background-color: #24529c;
    border: #24529c solid 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    color:white;
    margin-top:5px;
    margin-left:5px;
    margin-right: 5px;
}
.arriba img{
    margin: 5px auto;
    border: white solid 2px;
    border-radius: 15px;
    width: 100%;
}
.arriba form{
    margin:15px;
}
.arriba form p{
    margin-bottom:10px;
    font-weight: bold;
}

.arriba form label,input{
    color:gray;
    font-weight: bold;
}
.arriba form .iyv{
    margin-right: 80px;
}
.arriba form label,.ida,.iyv{
    color:black
}
.arriba form .arrba{
    background-color: orange;
    padding-left: 10px;
    padding-right: 10px;
    color:black;
}
.arriba form .abjo{
    margin-right: 37.75px;
}
/*centro*/
.centro{
    display: flex;
    flex-direction: row;
    margin:15px auto;
}
.centro .red{
    color:red;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}
.centro .izq,.der{
    margin:22.5px;
    text-align: left;
}
.centro td{
    background-color: #c2d1ed;
    border:white solid 1px;
    color:#3e598c;
    padding-right:10px;
    padding-top:1px;
    padding-bottom: 1px;
    padding-left: 3px;
}
.centro .num{
    color:#bda33a;
}
/*Abajo*/
.abajo{
    margin-top:5px;
    margin-left:5px;
    margin-right: 5px;
}
.abajo p{
    color:Red;
    font-weight: bold;
    text-align: center;
    margin-left:10px;
}
.abajo div{
    display: flex;
    flex-direction: row;
}
.abajo div p{
    color:black;
    text-align: justify;
    font-weight: normal;
    margin-right: 10px;
    line-height: 20px;
}
.abajo div img{
    border:white 1px solid;
    border-radius: 15px;
}
/*footer*/
footer{
    background-color: #24529c;
    color:white;
    font-size: 20px;
    font-weight: bold;
    padding:5px;
    font-family: Arial, Helvetica, sans-serif;
}
footer p{
    padding:10px;
}
footer img{
    padding:7px;
}