/*SOBRE MI*/
*{
    margin: 0;
    padding: 0;
    color:#ffffff;
    background-color: #323031;
}
#galeria{
    position:absolute;
    height: 20px;
    width: 20px;
}
#galeria img{
    height: 200%;
    width: 200%;
}
#container{ 
    width: 95%;
    height: 95%;
    margin: 10px auto;
}
main{
    background-color: #323031;
    display: flex;
    flex-direction: row;
}
li{
    list-style: none;
    margin-top: 0.3%;
}
#izq{
    background-color: #323031;
    width: 30%;
    height: 97vh;
    font-size: 130%;
    font-family: 'Times New Roman', Times, serif;
    border-right: 1px solid #C1BDB3;

}
#foto{
    background-color: #323031;
    size-adjust:inherit;
    display: flex;
    height: 50%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 8%;
    margin-top: 5%;
    padding-bottom: 5%;
    border-bottom: 1px solid #C1BDB3;

}
#foto img{
    border:2px solid #C1BDB3;
    border-radius: 1%;
}
#contacto{
    background-color: #323031;
    height: 10%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    size-adjust:inherit;
    border-bottom: 1px solid #C1BDB3;
    padding-bottom: 5%;
    
}
#hovercontact:hover{
    color:#8d8888;
}
#herramientas{
    background-color: #323031;
    height: 25%;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
}
#der{
    background-color: #323031;
    width: 70%;
    height: 97vh;
} 
#titulo{
    font-size: 240%;
    text-align: center;
    size-adjust:inherit;
    margin-top: 2%;
}
#info{
    margin-top: 5%;
    text-align: left;
    font-size: 150%;
    size-adjust:inherit;
    padding-left: 5%;
    padding-right: 5%;
    
}
#info div{
    margin:1%;
}
/*GALERIA*/
#info img{
    width: 128px;
    height: 128px;
    position: relative;
    border: 1px solid #8d8888;
    border-radius: 5%;
}